<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="project2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Hello, world!</title>
  </head>
  <body>
    <h3 class="text-primary"><strong><center>SPAM FILTERING USING MACHINE LEARNING</center><strong></h3>

  <br><br>
 <div class="col-lg-6 col-lg-offset-3 well">
<form class="form-group" method='get' action='/predict'>
<input type="text" name="h" class="form-control" placeholder="Write Your message Here">
<br>
<input type="submit" class="btn btn-md btn-block btn-success">
</form>
<br>
<input type="text" name="a" class="form-control" placeholder="Your Output Appears Here" value="{{result}}">
 </div>
  
  </body>
</html>